@import "../../App";



.imgSlide {
  position: absolute;
  top: 0;
  width: 100%; 
  height: 100%;
}

.slick-slide {
  position: relative;
  height: 600px !important;
}

.slick-prev:before,
.slick-next:before {
  color: $text-color-body !important;
}

.slick-dots li button:before {
  color: $text-color-body !important;
}

.slick-list {
  border-radius: 20px;
  outline: 2px solid $separate-color;
}

@media only screen and (max-width: 768px) {

  .slick-slide {
    height: 300px !important;
  }

  .slideStylesCont {
    width: 80%;
    margin: 80px 0 0 10%;

  }

}