@import '../../App';

.orderCont {
  width: 90%;
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: column;
}

.widthBlockCont {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}

.orderLogoCont {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(177, 176, 176, .8);
}

.orderLogo {
    height: 80px;
    border-radius: 5px;
}

.headerSpan {
  margin: 70px 0;
  @include adaptiv-font(50,25);
  color: $text-color-body;
}

.inputClass {
  display: none;
}

.blockCont {
  display: flex;
  flex-direction: column;
  border: 1px solid $separate-color;
  background: $shop-item-color;
  color: $text-color-body;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
}

.blockHeadline {
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.blockHeadline span {
  font-size: 24px;
}

.blockHeadline div {
  background-color: rgb(0, 0, 0, .2);
  width: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 15px;
}

#shoppingCart {
  position: absolute;
  right: 5%;
  top: 25px;
  cursor: pointer;
  font-size: 16px;
  color: $secondary-color-blue;
}

#shoppingCart:hover {
  color: crimson;
}

.infoContactsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inputStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100px;
}

#inputStyles div {
  display: contents;
}

.infoContactsCont input {
  height: 40px;
  border-radius: 5px;
  font-size: 24px;
  border: 1px solid $text-color-body;
  background: $shop-item-color;
  color: $text-color-body;
  padding-left: 5px;
}

.infoContactsCont input:focus-visible {
  outline: 1px solid $text-color-body;
}

.infoContactsCont span {
  margin-bottom: 10px;
}

.itemsCont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  max-height: 860px;
  overflow: auto;
}

.itemsCont::-webkit-scrollbar {
  width: 10px;
}

.orderItem {
  display: flex;
  border: 1px solid $separate-color;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 150px;
}

.imgAndSpanCont {
  display: flex;
  flex: 2;
}

.imgAndSpanCont img {
  height: 130px;
  min-width: 160px;
  max-width: 160px;
  margin: 10px;
  border-radius: 5px;
}

.imgAndSpanCont div span{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.imgAndSpanCont a {
  @include adaptiv-font(22,18);
  width: 45%;
  text-decoration: none;
  color: $secondary-color-blue;
}

.imgAndSpanCont > span{
  padding: 10px;
}

.imgAndSpanCont a:hover{
  color: crimson;
}

.imgAndSpanCont div span:first-child {
  font-size: 16px;
  color: $text-color-body;
}

.imgAndSpanCont div span:last-child {
  font-size: 18px;
}

.itemInfoCont {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  flex: 1;
  align-items: center;
}

.itemInfoCont div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.itemInfoCont div span {
  padding: 5px 0;
}

.blockContAccept {
  display: flex;
  flex-direction: column;
  border: 1px solid $separate-color;
  background: rgb(0, 0, 0, 0.03);
  color: $text-color-body;
  margin-bottom: 50px;
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
}

.blockContAccept div {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 30px 20px ;
  border-bottom: 1px solid $separate-color;
  padding-bottom: 20px;
  font-size: 18px;
}

.blockContAccept div:first-child {
  margin: 20px 20px 30px 20px ;
}

.blockContAccept div:last-child {
  height: 50px;
  border-radius: 10px;
  margin: 0 20px 20px 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #00a046;
  color: white;
  padding-bottom: 0;
  cursor: pointer;
  user-select: none;
}

.blockContAccept div span:last-child {
  text-align: right;
}

.inputRadioCont > div {
  margin-bottom: 40px;
  border: 1px solid black;
  padding: 20px 0 20px 5px;
}

.inputRadioCont label {
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  cursor: pointer;
}

.inputRadioCont label span:last-child{
  position: absolute;
  right: 5px;
}

#acceptButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#acceptButton span {
  color: $text-color-body;
  @include adaptiv-font(24,20);
  margin: 5px 0;
  text-align: center;
}
#acceptButton span:last-child {
  margin-top: 35px
}

#incorrectValues {
  color: red;
  font-size: 15px;
  position: absolute;
  top: 35px;
  left: 47px;
}

@media only screen and (max-width: 820px) {

  .cartDiv {
    width: 85%;
  }

  .widthBlockCont {
    width: 100%;
    margin-left: 0;
  }

  #inputStyles {
    width: 80%;
  }

  .blockHeadline {
    margin-bottom: 20px;
  }

  .orderItem img {
    min-width: 50px;
    max-width: 50px;
    height: 60px;
  }

  .itemInfoCont {
    flex-wrap: wrap;
  }

  .orderItem {
    flex-direction: column;
    height: 200px;
  }

  .imgAndSpanCont {
    flex: 1;
  }

  .blockContAccept {
    width: 100%;
    margin-left: 0;
  }

  .blockContAccept div span:last-child {
    margin-left: 10px;
  }

}

