@import '../../App';

.orderCont {
  width: 90%;
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: column;
}

.widthBlockCont {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}

.orderLogoCont {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(177, 176, 176, .8);
}

.orderLogo {
    height: 80px;
    border-radius: 5px;
}

.headerSpan {
  margin: 70px 0;
  font-size: 50px;
  color: $text-color-body;
}

.inputClass {
  display: none;
}

.blockCont {
  display: flex;
  flex-direction: column;
  border: 1px solid $separate-color;
  background: $shop-item-color;
  color: $text-color-body;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
}

.blockHeadline {
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.blockHeadline span {
  font-size: 24px;
}

.blockHeadline div {
  background-color: rgb(0, 0, 0, .2);
  width: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 15px;
}

#shoppingCart {
  position: absolute;
  right: 5%;
  top: 25px;
  cursor: pointer;
  font-size: 16px;
  color: $secondary-color-blue;
}

#shoppingCart:hover {
  color: crimson;
}

.infoContactsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inputStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100px;
}

#inputStyles div {
  display: contents;
}

.infoContactsCont input {
  height: 40px;
  border-radius: 5px;
  font-size: 24px;
  border: 1px solid $text-color-body;
  background: $shop-item-color;
  color: $text-color-body;
  padding-left: 5px;
}

.infoContactsCont input:focus-visible {
  outline: 1px solid $text-color-body;
}

.infoContactsCont span {
  margin-bottom: 10px;
}

.itemsCont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  max-height: 860px;
  overflow: auto;
}

.itemsCont::-webkit-scrollbar {
  width: 10px;
}

.orderItem {
  display: flex;
  border: 1px solid $separate-color;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 150px;
}

.orderItem img {
  height: 130px;
  min-width: 160px;
  max-width: 160px;
  margin: 10px;
  border-radius: 5px;
}

.orderItem span {
  font-size: 22px;
  width: 45%;
  padding-top: 10px;
}

.orderItem div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-right: 5px;
  align-items: center;
}

.orderItem div span{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.orderItem a{
  font-size: 22px;
  width: 45%;
  text-decoration: none;
  color: $secondary-color-blue;
}

.orderItem > span{
  padding: 10px;
}

.orderItem a:hover{
  color: crimson;
}

.orderItem div span:first-child {
  font-size: 16px;
  color: $text-color-body;
}

.orderItem div span:last-child {
  font-size: 18px;
}

.blockContAccept {
  display: flex;
  flex-direction: column;
  border: 1px solid $separate-color;
  background: rgb(0, 0, 0, 0.03);
  color: $text-color-body;
  margin-bottom: 50px;
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
}

.blockContAccept div {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 30px 10px ;
  border-bottom: 1px solid $separate-color;
  padding-bottom: 20px;
  font-size: 18px;
}

.blockContAccept div:first-child {
  margin: 20px 10px 30px 10px ;
}

.blockContAccept div:last-child {
  height: 50px;
  border-radius: 10px;
  margin: 0 10px 20px 10px ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #00a046;
  color: white;
  padding-bottom: 0;
  cursor: pointer;
  user-select: none;
}

#acceptButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#acceptButton span {
  color: $text-color-body;
  font-size: 24px;
  margin: 5px 0;
}
#acceptButton span:last-child {
  margin-top: 35px
}

#incorrectValues {
  color: red;
  font-size: 15px;
  position: absolute;
  top: 35px;
  left: 47px;
}


