@import '../../App';

.itemCont {
  display: flex;
  width: 90%;
  margin: 120px 0 0 5%;
  flex-direction: column;
}

.itemNameCont {
  @include adaptiv-font(30,25);
  border-bottom:3px solid $separate-color;
  padding-bottom: 40px;
  color: $text-color-body;
}

.itemDescription {
  display: flex;
  margin-top: 50px;
}

.itemDescription > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.descriptionCont {
  display: flex;
  flex: 1;
  padding-left: 80px;
  justify-content: space-between;
}

.sliderCont {
  width: 50%;
}

.firstDescription {
  display: flex;
  text-align: left;
  align-items: center;
  border: 1px solid $separate-color;
  border-radius: 5px;
  height: 100px;
  @include adaptiv-font(24,24);
  justify-content: space-between;
  padding: 0 10px;
  background: $shop-item-color;
  color: $text-color-body;
}

.priceCont  {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.priceCont span:nth-child(2) {
  margin-top: 5px;
  font-size: 17px;
}

.shoppingButtonCont span {
  margin-left: 10px;
}

.shoppingButtonContInCart span {
  margin-left: 10px;
}

.shoppingButtonCont {
  width: 140px;
  height: 45px;
  border: 2px solid $text-color-body;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  font-weight: bold;
  color: $text-color-body;
  text-decoration: none;
  text-align: center;
  margin-left: 15px;
  user-select: none;
}

.shoppingButtonCont:hover {
  color: #fff;
}
.shoppingButtonCont::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.shoppingButtonCont::before{
  transform: scaleX(0);
}
.shoppingButtonCont:hover::before{
  transform: scaleX(1);
}

.shoppingButtonContInCart {
  width: 140px;
  height: 45px;
  border: 2px solid #00a046;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 22px;
  transition: color 0.4s linear;
  position: relative;
  font-weight: bold;
  color: #006227;
  text-decoration: none;
  text-align: center;
  margin-left: 15px;
  user-select: none;
}

.noItemAmount {
  pointer-events: none;
  transition: none;
  opacity: .4;
}

.alreadyCheckedInCart {
  position: relative;
}

.alreadyCheckedInCart svg{
  color: #00a046;
  transition: none !important;
  cursor: default !important;
}

.alreadyChecked {
  position: absolute;
  background-color: #00a046;
  border-radius: 30px;
  width: 12px;
  height: 12px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 17px;
  right: -2px;
  border: 1px solid white;
}

.alreadyChecked svg {
  color: white;
}

.deliveryCont {
  display: flex;
  border: 1px solid $separate-color;
  background: $shop-item-color;
  border-radius: 5px;
  flex-direction: column;
  color: $text-color-body;
}

.deliveryHeadline {
  border-bottom: 1px solid $separate-color;
  padding-left: 10px;
  @include adaptiv-font(20,16);
  height: 40px;
  display: flex;
  align-items: center;
}

.deliveryPostCont {
  @include adaptiv-font(18,14);
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 10px;
}

.deliveryPostCont svg {
  margin-right: 5px;
  font-size: 20px;
}

#right {
  text-align: end;
}

.payingCont {
  display: flex;
  border: 1px solid $separate-color;
  border-radius: 5px;
  flex-direction: column;
  color: $text-color-body;
  background: $shop-item-color;
}

.payingItemCont{
  display: flex;
  height: 60px;
  padding: 0 10px;
  @include adaptiv-font(18,14);
  align-items: center;
}

.payingItemCont svg {
  margin-right: 5px;
  font-size: 20px;
}

.payingItemCont:first-child {
  border-bottom: 1px solid $separate-color;
}

.descriptionHeadline {
  font-size: 30px;
  margin-bottom: 20px;
  color: $text-color-body;
}

.descriptionText {
  padding: 15px 0 0 10px;
  font-size: 20px;
  line-height: 25px;
  color: $text-color-body;
}

@media only screen and (max-width: 768px) {

  .itemDescription {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sliderCont {
    width: 85%;
    margin-bottom: 35px;
  }

  .descriptionCont {
    padding-left: 0;
  }

  .inputCont {
    width: 95%;
  }

  .deliveryCont {
    margin-top: 10px;
  }

  .payingCont {
    margin-top: 10px;
  }

  .itemCont {
    margin-top: 60px;
  }
}