@import '../../App';

.shopCont {
  display: flex;
  width: 90%;
  margin: 120px 0 0 5%;
  flex-direction: column;
}

.searchCont {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  justify-content: space-between;
  align-items: flex-end;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: calc(50% + 7px);
  transform: translateY(calc(-50% - 5px));
  font-size: 25px;
}

.alreadyInCart {
  position: relative;
}

.alreadyInCart svg{
  color: #00a046;
  transition: none !important;
  cursor: default !important;
}

.checkedCart {
  position: absolute;
  background-color: #00a046;
  border-radius: 30px;
  width: 15px;
  height: 15px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 18px;
  right: -2px;
  border: 1px solid white;
}

.checkedCart svg {
  color: white;
}
	
.inputCont {
  height: 50px;
  width: 50%;
  position: relative;
}

.inputCont input {
  width: 100%;
  height: 100%;
  border: 1px solid $page-color-border;
  background: $shop-item-color;
  font-size: 25px;
  padding-left: 10px;
  color: $text-color-body;
}

.inputCont svg {
  color: $text-color-body;
}

.inputCont input:focus-visible {
  outline: 1px solid $page-color-border;
}

.brandSearch {
  width: 90%;
  margin: 0 0 10px 5px;
  height: 30px;
  font-size: 16px;
  border: 2px solid $page-color-border;
  background: $shop-item-color;
  color: $text-color-body;
  border-radius: 7px;
}

.brandSearch:focus-visible {
  outline: 1px solid $page-color-border;
}

.belowSearchCont {
  display: flex;
  height: 100%;
}

.filterCont {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid $page-color-border;
  border-radius: 7px;
  max-height: 1000px;
  color: $text-color-body;
  background: $shop-item-color;
}

.sliderCont {
  position: relative;
}

.shopItemsCont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 700px;
}

.sortCont {
  border: 2px solid $page-color-border;
  display: flex;
  height: 30px;
  min-width: 15%;
  font-size: 15px;
  background: $shop-item-color;
  color: $text-color-body;
}

.sortCont:focus-visible {
  border-radius: 4px;
  outline: 1px solid $page-color-border;
}

.specificItemCont {
  box-shadow: 0.5px 0.5px 0.5px $shop-item-color-borderbox, 0 0 0.4em $shop-item-color-borderbox, 0 0 0.4em $shop-item-color-borderbox;
  width: 22%;
  height: 450px;
  margin-bottom: 50px;
  background: $shop-item-color;
}

.specificItem {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.widthCont {
  width: 90%;
  margin: 5%;
  position: relative;
}

.widthCont img {
  width: 100%;
  height: 280px;
  user-select: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.widthCont a {
  text-decoration: none;
}

.itemHeadline {
  font-size: 20px;
  height: 100px;
  display: block;
  color: $text-color-body;
}

.itemAmount {
  position: absolute;
  bottom : 40px;
  color: red;
}

.itemPriceCont {
  display: flex;
  font-size: 25px;
  color: $text-color-body;
  transition: none;
}

.itemPriceCont svg {
  display: flex;
  flex: 1;
  transition: none;
}

.itemPriceCont svg:active {
  opacity: .8;
}

.itemPriceCont span {
  flex: 5;
}

.noItems {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.dropbtn {
  background-color: $shop-item-color;
  color: $text-color-body !important;
  font-size: 22px;
  width: 100%;
  height: 60px;
  text-align: left;
  border:none;
}

.dropdown {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid $page-color-border;
}

.dropdownContent {
  width: 100%;
  z-index: 1;
  margin-bottom: 5px;
}

.allBrands {
  max-height: 210px;
  overflow: auto;
  padding-left: 5px;
}

.dropdownContent span {
  padding-left: 8px;
  font-size: 17px;
}

.dropDownArrow {
  position: absolute;
  right: 10px;
  font-size: 23px;
}

.onClickDropDownContent {
  display: none;
}

.dropdownContent {
  animation: append-animate .4s ease;
}

.itemsAndNavigationCont {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.pagesNavigationCont {
  border-top: 1px solid $separate-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  height: 70px;
}

.pagesNavigationCont svg{
  width: 60px;
  height: 40px;
  outline: 2px solid $page-color-border;
  border-radius: 5px;
  background-color: rgb(0,0,0,0.05);
  color: $text-color-body;
  cursor: pointer;
}

.pagesNavigationCont svg:hover {
  color: $secondary-color-blue
}

.pagesCont {
  display: flex;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 45px;
  height: 40px;
  margin: 0 10px;
  border: 1px solid $page-color-border;
  border-radius: 5px;
  background-color: rgb(0,0,0,0.05);
  color: $text-color-body;
  cursor: pointer;
  user-select: none;
}

.page:hover {
  color: $secondary-color-blue;
  outline: 2px solid $page-color-border;
  transition: none !important;
}

.activeButton {
  outline: 2px solid $page-color-border;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled:hover {
  color: $primary-color;
}

.itemPriceCont svg {
  cursor: pointer;
}

@keyframes append-animate {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;  
  }
}