@import '../../App';

.shoppingCartIconContHeader{
  display: flex;
  align-items: center;
  position: relative;
}

.shoppingCartIconCont{
  display: flex;
  align-items: center;
}

.shoppingCartIcon {
  font-size: 35px;
  color: $secondary-color-blue;
  padding-left: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.shoppingCartIcon:active {
  opacity: .8;
}

.backgroundEclipse {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  z-index: 1000000;
  background-color: black;
  opacity: 0.5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.cartDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 65%;
  max-width: 700px;
  max-height: 80%;
  min-height: 300px;
  overflow: auto;
  padding: 20px;
  background-color: $background-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
  transition: color 0.2s;
}

.itemsInCartCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.closeItemCross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 13px;
  color: black;
  transition: color 0.2s;
}

.itemsInCart {
  margin-top: 5px;
  border: 1px solid $separate-color;
  background: $shop-item-color;
  color: $text-color-body;
  height: 200px;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  position: relative;
}

.itemsInCart img {
  max-width: 25%;
  height: 150px;
  margin: 5px;
  display: flex;
  flex: 1;
  border-radius: 5px;
}

.itemsInCart span {
  font-size: 20px;
  margin-top: 20px;
  padding-right: 25px;
  display: flex;
  flex: 1;
}

.itemsInCart input:focus-visible {
  outline: 1px solid $page-color-border;
}

.imgAndTextCont {
  display: flex;
  height: 80%;
}

.inputAndPriceCont {
  display: flex;
  height: 20%;
  position: relative;
  margin-bottom: 5px;
}

.inputAndPriceCont input {
  position: absolute;
  width: 40px;
  font-size: 20px;
  border-radius: 3px;
  height: 20px;
  bottom: 5px;
  left: 40px;
  border: 1px solid $page-color-border;
  background: $shop-item-color;
  color: $text-color-body;
  text-align: center;
}

.minusButton {
  position: absolute;
  bottom: 8px;
  left: 20px;
  cursor: pointer;
  font-size: 18px;
  color: $text-color-body;
  transition: color 0.2s;
}

.plusButton {
  position: absolute;
  bottom: 8px;
  left: 90px;
  cursor: pointer;
  font-size: 18px;
  color: $text-color-body;
  transition: color 0.2s;
}

.inputAndPriceCont div {
  position: absolute;
  font-size: 20px;
  border-radius: 3px;
  height: 20px;
  bottom: 10px;
  right: 20px;
}

.totalCont {
  border: 1px solid green;
  background-color: rgb(0,242,0,.1);
  border-radius: 5px;
  width: 70%;
  margin: 30px 0 0 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.totalPrice {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $text-color-body;
}

.acceptButton {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 65%;
  height: 60px;
  background-color: #00a046;
  border-radius: 5px;
  text-decoration: none;
}

.emptyCart {
  padding-top: 110px;
  font-size: 40px;
  text-align: center;
  color: $separate-color;
}

.disabledBtn {
  pointer-events: none;
  opacity: 0.2;
}

.shoppingCartIconCont div {
  background-color: red;
  position: absolute;
  color: white;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  max-width: 20px;
  min-height: 15px;
  max-height: 20px;
  border-radius: 30px;
  top: 19px;
  padding: 1px;
  right: -7px;
}

@media only screen and (max-width: 768px) {

  .imgAndTextCont {
    height: 70%;
  }

  .imgAndTextCont img {
    height: 130px;
  }

  .inputAndPriceCont {
    height: 30%;
    margin-bottom: 5px;
  }

  .inputAndPriceCont input {
    height: 30px;
  }

  .minusButton {
    font-size: 24px;
    bottom: 10px;
    left: 12px;
  }

  .plusButton {
    font-size: 24px;
    bottom: 10px;
    left: 93px;
  }

}
