@import '../../App';

.arrowUp {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 25px;
  border-radius: 100%;
  position: fixed;
  right: 0.1em;
  bottom: 3em;
  z-index: 1000;
  cursor: pointer;
}

.arrowUp:hover {
  background-color: $primary-color;
  color: $text-color-light;
  transition: .3s ease;
}

.arrowUpHidden {
  visibility: hidden;
  opacity: 0;
  transition: .5s ease;
  transform: translateY(0px);
}

.arrowUpVisible {
  visibility: visible;
  opacity: 1;
  transition: .5s ease;
  transform: translateY(25px);
}