@import '../../App';

.homeCont {
  width: 100%;
  min-height: calc(100vh - 600px);
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.separator {
  margin: 120px 0px 0px 3%;
  width: 94%;
  height: 3px;
  background-color: #b1b0b0;
  opacity: 0.8;
  //box-shadow: 1px 1px 1px $text-shadow, 0 0 0.5em $text-shadow, 0 0 0.1em $text-shadow;
}

.flexCenteredBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 140px;
}

.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 9vh;
  padding-top: 5%;
  font-size: 2em;
  color: $text-color-body
}  

.belowHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../Images/background_2_sized.png");
  background-size: cover;
  height: 11em;
  color: $text-color-header;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 30px;
}
