@import '../../App';
$imgBlocksHeight:550px;

@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

a {
  color: #00ff95;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

.launchCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../Images/background_2.png");
  background-size: cover;
  height: 25em;
  color: $text-color-light;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 30px;
}

.servicesText {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

.servicesButton {
  width: 25%;
  height: 200px;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  font-weight: bold;
  color: #000000;
}

.servicesButton {
  @include button(#000,
          "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
          2300%,
          100%,
          none,
          #fff);
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}

.servicesButton:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}



