@import '../../App';
$imgBlocksHeight:550px;

.infoBlocks {
  display: flex;
  width: 42%;
  height: $imgBlocksHeight;
  font-size: 25px;
  flex-direction: column;
  color: $text-color-body;
}

.imgSizeForBlocks {
  width: 100%;
  height: $imgBlocksHeight;
}