@import "../../App";

.container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.header {
  position: absolute;
  left: 6px;
  top: 15px;
  font-size: 22px;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
  transition: 0s;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: $secondary-color-blue;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value input,
.slider__right-value input {
  width: 40px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}

.slider__left-value {
  left: 6px;
  bottom: -52px;
}

.betweenSlider {
  position: absolute;
  left: 63px;
  bottom: -52px;
  font-size: 30px;
}

.slider__right-value {
  right: 70px;
  bottom: -52px;
}

.okButton {
  position: absolute;
  width: 35px;
  bottom: -52px;
  height: 29px;
  left: 160px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.start {
  right: 131px;
}

.end {
  left: 135px;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
