@import '../../App';

.shopCont {
  display: flex;
  width: 90%;
  margin: 120px 0 0 5%;
  flex-direction: column;
}

.searchCont {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 60px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: calc(50% + 7px);
  transform: translateY(calc(-50% - 5px));
  font-size: 25px;
}
	
.inputCont {
  height: 50px;
  width: 50%;
  position: relative;
}

.inputCont input {
  width: 100%;
  height: 100%;
  border: 2px solid $primary-color;
  font-size: 25px;
  padding-left: 10px;
  color: $primary-color;
}

.brandSearch {
  width: 80%;
  margin: 0 0 10px 5px;
  height: 30px;
  font-size: 16px;
  border: 2px solid $primary-color;
  border-radius: 7px;
}

.belowSearchCont {
  display: flex;
  height: 100%;
}

.filterCont {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  max-height: 1000px;
}

.sliderCont {
  position: relative;
}

.shopItemsCont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 605px;
}

.specificItemCont {
  border: 1px solid black;
  box-shadow: 0.5px 0.5px 0.5px $primary-color, 0 0 0.4em $primary-color, 0 0 0.4em $primary-color;
  width: 22%;
  height: 450px;
  margin-bottom: 50px;
}

.specificItem {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.widthCont {
  width: 90%;
  margin: 5%;
  position: relative;
}

.widthCont img {
  width: 100%;
  height: 280px;
  user-select: none;
}

.widthCont a {
  text-decoration: none;
}

.itemHeadline {
  font-size: 20px;
  height: 100px;
  display: block;
}

.itemAmount {
  position: absolute;
  bottom : 40px;
  color: red;
}

.itemPriceCont {
  display: flex;
  font-size: 25px;
}

.itemPriceCont svg {
  display: flex;
  flex: 1;
}

.itemPriceCont span {
  flex: 5;
}

.dropbtn {
  background-color: #FFFFFF;
  font-size: 22px;
  width: 100%;
  height: 60px;
  text-align: left;
  border:none;
}

.dropdown {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.dropdownContent {
  width: 100%;
  z-index: 1;
  margin-bottom: 5px;
  padding-left: 5px;
}

.dropdownContent span {
  color: black;
  padding-left: 8px;
  font-size: 17px;
}

.dropDownArrow {
  position: absolute;
  right: 10px;
  font-size: 23px;
}

.onClickDropDownContent {
  display: none;
}

.dropdownContent {
  animation: append-animate .4s ease;
}

.itemsAndNavigationCont {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.pagesNavigationCont {
  border-top: 1px solid rgb(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  height: 70px;
}

.pagesNavigationCont svg{
  width: 60px;
  height: 40px;
  border: 1px solid $primary-color;
  border-radius: 5px;
  background-color: rgb(0,0,0,0.05);
  color: rgb(0,0,0,0.8);
  cursor: pointer;
}

.pagesNavigationCont svg:hover {
  color: $secondary-color-blue
}

.pagesCont {
  display: flex;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 45px;
  height: 40px;
  margin: 0 10px;
  border: 1px solid rgb(0,0,0,0.2);
  border-radius: 5px;
  background-color: rgb(0,0,0,0.05);
  color: rgb(0,0,0,0.8);
  cursor: pointer;
  user-select: none;
}

.page:hover {
  color: $secondary-color-blue;
  border: 1px solid rgb(0,0,0,1);
}

.activeButton {
  border: 1px solid rgb(0,0,0,1);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled:hover {
  color: $primary-color;
}

@keyframes append-animate {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;  
  }
}