@import '../../App';

.footerCont {
  width: 100%;
  height: 400px;
  background-color: #40434a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  color: #a0abbd;
}

.lowerCont {
  height: 40px;
  background-color: $primary-color;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  width: 20%;
  height: 350px;
  flex-direction: column;
  line-height: 1.5;
}

.map {
  height: 350px;
}


