:root {
  --primary-color: #000000;
  --secondary-color-blue: #6973e0;
  --text-color-header: #FFFFFF;
  --background-color: #FFFFFF;
  --text-shadow: #000000;
  --text-color-body: #000000;
  --hover-color-after: rgb(252,213,38,0.3);
  --hover-color-before: rgb(33,55,77,0);
  --dots-color:#2d2f34;
}

.darkmode {
  --primary-color: #000000;
  --secondary-color-blue: #fcd526;
  --text-color-header: #a8afb9;
  --background-color: #1F2023;
  --text-shadow: #2d2f34;
  --text-color-body: #a8afb9;
  --hover-color-after: rgb(50,56,120,0.4);
  --hover-color-before: rgb(33,55,77,0);
  --dots-color:#a8afb9;
}

$primary-color: var(--primary-color);
$secondary-color-blue: var(--secondary-color-blue);
$text-color-header: var(--text-color-header);
$background-color: var(--background-color);
$text-shadow: var(--text-shadow);
$text-color-body: var(--text-color-body);
$hover-color-after: var(--hover-color-after);
$hover-color-before: var(--hover-color-before);
$dots-color : var(--dots-color);

$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

//font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
